{% import 'macros.html' as macros %}
{# Copied from DeepThought base.html #}

<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="#ffffff" name="theme-color" />
  <meta content="#da532c" name="msapplication-TileColor" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1.9.1/css/academicons.min.css" integrity="sha384-FIue+PI4SsI9XfHCz8dBLg33b0c1fMJgNU3X//L26FYbGnlSEfWmNT7zgWc2N9b6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" integrity="sha384-IJLmUY0f1ePPX6uSCJ9Bxik64/meJmjSYD7dHaJqTXXEBE4y+Oe9P2KBZa/z7p0Q" crossorigin="anonymous">
  <link href="/deep-thought.css" rel="stylesheet" />
  {% block user_custom_stylesheet %}
  <link href="/act.css" rel="stylesheet" />
  {% endblock %}

  <title>
    {% block title %}
    {{ config.title }}
    {% endblock title %}
  </title>

</head>

<body class="has-background-white">
  <nav aria-label="section navigation" class="navbar is-light" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-size-5 has-text-weight-bold" href="{{config.base_url}}">{{ config.title }}</a>
        <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navMenu" role="button">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end has-text-centered">
          {% for item in config.extra.navbar_items %}
          {% if lang == item.code %}
          {% for nav in item.nav_items %}
          <a class="navbar-item has-text-weight-semibold" href="{{ nav.url | replace(from='$BASE_URL', to=config.base_url) }}">
            {{ nav.name }}
          </a>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  {% block comment %}
  {% endblock %}

  <footer class="footer py-4">
    <div class="content has-text-centered">
      <img src="/images/info-actmyindia-email.png" width="18%" />
    </div>
  </footer>

  <script src="{{ get_url(path='js/site.js') }}"></script>

  {% block custom_js %}
  {% endblock %}

  {% block user_custom_js %}
  {% endblock %}
</body>

</html>
